<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{playlistname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-label color="medium">{{id}}</ion-label>
  <div text-center *ngIf="loading">
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-spinner name="circles" color="success"></ion-spinner>
      </ion-col>
    </ion-row>
  </div>
  <ion-list *ngIf="tracks">
    <ion-item *ngFor="let track of tracks" color="dark">
          <ion-thumbnail slot="start">
            <img
              [src]="track.track.album.images.length > 0? track.track.album.images[0].url: 'https://dummyimage.com/100x100/078f12/fff&text='+track.name.toUpperCase().split('')[0]">
          </ion-thumbnail>
          <ion-label><b>{{track.track.name}}</b> by <i>{{track.track.album.artists[0].name}}</i></ion-label>
        </ion-item>
  </ion-list>
</ion-content>