<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="success" text-center>
      <small>{{profile?.display_name}} is playing</small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <div *ngIf="loading">
    <div text-center class="loader-big">
      <ion-spinner name="circles" color="success"></ion-spinner>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="no-songs" *ngIf="!isPlaying&&!isPaused">
      <h1>No songs playing</h1>
      <p>The user {{profile?.id}} is not listening songs</p>
      <ion-icon class="icon" name="eye-off" color="medium"></ion-icon>
    </div>

    <div class="current-song" *ngIf="isPlaying || isPaused">
      <ion-row>
        <ion-col size="12" text-center>
          <img [src]="currentSong.item.album.images[0].url" alt="">
        </ion-col>
        <ion-col size="12" text-center>
          <span>{{currentSong.item.name}}</span>
        </ion-col>
        <ion-col size="12" text-center>
          <small>{{currentSong.item.artists[0].name}}</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-button (click)="skipBack()" fill="clear" color="light">
            <ion-icon slot="icon-only" class="controls" name="skip-backward"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="playPause()" fill="clear" color="light">
            <ion-icon slot="icon-only" class="controls" [name]="isPaused? 'play': 'pause'"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="skipForward()" fill="clear" color="light">
            <ion-icon slot="icon-only" class="controls" name="skip-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </div>
  </div>
</ion-content>